# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Ignore built ts files
dist
dist/**/*

# API keys and secrets
.env

# Yarn
yarn.lock

# VScode editor
.vscode

# Logs
logs
